.Header_Text {
  text-align: center
}

.Card {
  margin-top:30px;
}

.UList { 
  columns: 3;
  margin: 0 auto;
  text-align: center
}
.List {
  display: inline-block;
  vertical-align: top;
}


.Text {
  align-content: center;
  color: rgb(189, 182, 182);
  font-family: "Fondamento";
  margin-top: 60px;
}

.Center_Content {
  display:flex;
  justify-content:center;
}

.Front_Image {
  width: 350px;
}