.Search_Center_Content {
  display:flex;
  justify-content:center;
}

.Card_Search {
  margin: 0 auto;
  width:80%;
  background-color: yellow;
}

.Search_Card {
  width: 70%;
  height: 70%
}

.Search_UList { 
  columns: 3;
  margin: 0 auto;
  text-align: center
}
.Search_List {
  display: inline-block;
  vertical-align: top;
}


